#include "\masm32\include\resource.h"
#define IDB_Accept 100
#define IDB_Restore 101
#define IDB_Cancel 102
#define IDB_StepInto 103
#define IDB_BC 104
#define IDB_DE 105
#define IDB_M 106
#define IDB_PC 107
#define IDB_SP 108
#define IDB_Ports 109
#define IDB_Bpx 110

#define IDB_sf 200
#define IDB_zf 201
#define IDB_hf 202
#define IDB_pf 203
#define IDB_nf 204
#define IDB_cf 205
#define IDB_sf_ 206
#define IDB_zf_ 207
#define IDB_hf_ 208
#define IDB_pf_ 209
#define IDB_nf_ 210
#define IDB_cf_ 211

#define IDB_p10 280
#define IDB_p18 288
#define IDB_p19 289
#define IDB_p1A 290
#define IDB_p1B 291
#define IDB_p1C 292
#define IDB_p80 299


#define IDE_B 301
#define IDE_C 302
#define IDE_D 303
#define IDE_E 304
#define IDE_H 305
#define IDE_L 306
#define IDE_A 307
#define IDE_B_ 309
#define IDE_C_ 310
#define IDE_D_ 311
#define IDE_E_ 312
#define IDE_H_ 313
#define IDE_L_ 314
#define IDE_A_ 315
#define IDE_M 317
#define IDE_bc 318
#define IDE_de 319
#define IDE_PC 320
#define IDE_pc 321
#define IDE_SP 322
#define IDE_sp 323
#define IDE_IX 324
#define IDE_IY 325
#define IDE_I 326
#define IDE_R 327
#define IDE_Bpx 328

#define IDE_p10 380
#define IDE_p18 388
#define IDE_p19 389
#define IDE_p1A 390
#define IDE_p1B 391
#define IDE_p1C 392
#define IDE_p80 399

#define IDE_FDDpointer 300
#define IDE_DrvEx 301

VectorCursor CURSOR MOVEABLE PURE LOADONCALL DISCARDABLE "vector.cur"
VectorIcon ICON MOVEABLE PURE LOADONCALL DISCARDABLE "vector.ico"

VectorMenu MENU DISCARDABLE 
BEGIN
    POPUP "&Файл"
    BEGIN
        MENUITEM "Загрузить в ОЗУ, ПЗУ, ...", 1001
        MENUITEM "Загрузить без очистки в ОЗУ", 1002
        MENUITEM SEPARATOR
        MENUITEM "Сохранить образ памяти", 1004
        MENUITEM "Сохранить образ диска", 1005
        MENUITEM "Сохранить диапазон памяти",1006
        MENUITEM SEPARATOR
        MENUITEM "&Выход", 1010
    END
    POPUP "&ROM"
    BEGIN
        MENUITEM "ОЗУ -> ПЗУ",2001
        MENUITEM "ПЗУ -> ОЗУ",2002
    END    
    POPUP "&Отладка"
    BEGIN
        MENUITEM "&Регистры", 4000
        MENUITEM "&Порты", 4001
    END
END

Registers DIALOGEX LOADONCALL MOVEABLE DISCARDABLE IMPURE 0, 0, 224, 128
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Содержимое регистров"
FONT 8, "Courier New"
{
 CONTROL "Main", 0, "button", BS_GROUPBOX | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 0, 76, 76
 CONTROL "B", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 8, 8, 10
 CONTROL "", IDE_B, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 8, 8, 10
 CONTROL "", IDE_C, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 8, 8, 10
 CONTROL "C", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 44, 8, 8, 10
 CONTROL "D", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 22, 8, 10
 CONTROL "", IDE_D, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 22, 8, 10
 CONTROL "", IDE_E, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 22, 8, 10
 CONTROL "E", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 44, 22, 8, 10
 CONTROL "H", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 36, 8, 10
 CONTROL "", IDE_H, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 36, 8, 10
 CONTROL "", IDE_L, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 36, 8, 10
 CONTROL "L", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 44, 36, 8, 10
 CONTROL "A", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 50, 8, 10
 CONTROL "", IDE_A, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 50, 8, 10
 CONTROL "S", IDB_sf, "button", BS_AUTOCHECKBOX | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 64, 12, 10
 CONTROL "Z", IDB_zf, "button", BS_AUTOCHECKBOX | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 64, 12, 10
 CONTROL "H", IDB_hf, "button", BS_AUTOCHECKBOX | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 26, 64, 12, 10
 CONTROL "P", IDB_pf, "button", BS_AUTOCHECKBOX | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 38, 64, 12, 10
 CONTROL "N", IDB_nf, "button", BS_AUTOCHECKBOX | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 50, 64, 12, 10
 CONTROL "C", IDB_cf, "button", BS_AUTOCHECKBOX | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 62, 64, 12, 10
 CONTROL "Alternative", 0, "button", BS_GROUPBOX | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 0, 76, 76
 CONTROL "B", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 8, 8, 10
 CONTROL "", IDE_B_, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 108, 8, 8, 10
 CONTROL "", IDE_C_, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 8, 8, 10
 CONTROL "C", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 8, 8, 10
 CONTROL "D", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 22, 8, 10
 CONTROL "", IDE_D_, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 108, 22, 8, 10
 CONTROL "", IDE_E_, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 22, 8, 10
 CONTROL "E", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 22, 8, 10
 CONTROL "H", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 36, 8, 10
 CONTROL "", IDE_H_, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 108, 36, 8, 10
 CONTROL "", IDE_L_, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 36, 8, 10
 CONTROL "L", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 36, 8, 10
 CONTROL "A", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 50, 8, 10
 CONTROL "", IDE_A_, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 108, 50, 8, 10
 CONTROL "S", IDB_sf_, "button", BS_AUTOCHECKBOX | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 82, 64, 12, 10
 CONTROL "Z", IDB_zf_, "button", BS_AUTOCHECKBOX | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 94, 64, 12, 10
 CONTROL "H", IDB_hf_, "button", BS_AUTOCHECKBOX | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 106, 64, 12, 10
 CONTROL "P", IDB_pf_, "button", BS_AUTOCHECKBOX | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 118, 64, 12, 10
 CONTROL "N", IDB_nf_, "button", BS_AUTOCHECKBOX | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 64, 12, 10
 CONTROL "C", IDB_cf_, "button", BS_AUTOCHECKBOX | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 142, 64, 12, 10
 CONTROL "", IDE_bc, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 78, 8, 10
 CONTROL "@bc", IDB_BC, "button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 78, 16, 10
 CONTROL "", IDE_de, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 78, 8, 10
 CONTROL "@de", IDB_DE, "button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 78, 16, 10
 CONTROL "", IDE_M, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 78, 8, 10
 CONTROL "@hl", IDB_M, "button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 78, 16, 10
 CONTROL "", IDE_IX, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 92, 16, 10
 CONTROL "IX", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 92, 16, 10
 CONTROL "", IDE_IY, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 92, 16, 10
 CONTROL "IY", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 92, 16, 10
 CONTROL "", IDE_I, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 78, 8, 10
 CONTROL "I", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 136, 78, 8, 10
 CONTROL "", IDE_R, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 92, 8, 10
 CONTROL "R", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 136, 92, 8, 10
 CONTROL "", IDE_PC, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 106, 16, 10
 CONTROL "PC", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 106, 16, 10
 CONTROL "", IDE_pc, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 106, 8, 10
 CONTROL "@pc", IDB_PC, "button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 106, 16, 10
 CONTROL "", IDE_SP, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 106, 16, 10
 CONTROL "SP", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 106, 16, 10
 CONTROL "", IDE_sp, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 106, 16, 10
 CONTROL "@sp", IDB_SP, "button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 136, 106, 16, 10
 CONTROL "Записать", IDB_Accept, "button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 8, 40, 10
 CONTROL "Прочитать", IDB_Restore, "button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 22, 40, 10
 CONTROL "Закрыть", IDB_Cancel, "button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 36, 40, 10
 CONTROL "Шаг", IDB_StepInto, "button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 50, 40, 10
 CONTROL "Порты", IDB_Ports, "button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 64, 40, 10
 CONTROL "Стоп", IDB_Bpx, "button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 78, 40, 10
 CONTROL "0000", IDE_Bpx, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 78, 16, 10
}

Ports DIALOGEX LOADONCALL MOVEABLE DISCARDABLE IMPURE 224, 32, 72, 142
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Содержимое портов"
FONT 8, "Courier New"
{
 CONTROL "10", IDB_p10, "button", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 8, 12, 10
 CONTROL "", IDE_p10, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 8, 8, 10
 CONTROL "18", IDB_p18, "button", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 22, 12, 10
 CONTROL "", IDE_p18, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 22, 8, 10
 CONTROL "19", IDB_p19, "button", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 36, 12, 10
 CONTROL "", IDE_p19, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 36, 8, 10
 CONTROL "1A", IDB_p1A, "button", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 50, 12, 10
 CONTROL "", IDE_p1A, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 50, 16, 10
 CONTROL "1B", IDB_p1B, "button", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 64, 12, 10
 CONTROL "", IDE_p1B, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 64, 16, 10
 CONTROL "1C", IDB_p1C, "button", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 78, 12, 10
 CONTROL "", IDE_p1C, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 78, 8, 10
 CONTROL "80", IDB_p80, "button", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 92, 12, 10
 CONTROL "", IDE_p80, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 92, 8, 10
 CONTROL "Закрыть", IDB_Cancel, "button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 106, 40, 10
 CONTROL "FDD", 0, "static", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 120, 16, 10
 CONTROL "", IDE_FDDpointer, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 120, 32, 10
 CONTROL "", IDE_DrvEx, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 64, 8, 10
}

SaveAddrs DIALOGEX LOADONCALL MOVEABLE DISCARDABLE IMPURE 24, 32, 64, 40
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Диапазон адресов"
FONT 8, "Courier New"
{
 CONTROL "Begin", IDB_BC, "button", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 8, 32, 10
 CONTROL "", IDE_B, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 8, 16, 10
 CONTROL "End", IDB_DE, "button", WS_DLGFRAME | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 22, 32, 10
 CONTROL "", IDE_E, "edit", ES_CENTER | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 22, 16, 10
}